.authContainer {
    margin-top: 40px;
}

.backToMain {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.arrowImg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.arrowText {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #676A71;
}

.formTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #231F20;
    margin: auto;
    margin-bottom: 40px;
}

.formContainer {
    margin: auto;
    max-width: 430px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.formLabel {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #676A71;
}

.formInput {
    width: 100%;
    border: none;
    outline: none;
    height: 56px;
    background: #F6F6F9;
    border-radius: 5px;
    padding-left: 18px;
    margin-bottom: 20px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
}

.formInput::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #C6C6C6;
}

.checkboxContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox {
    width: 16px;
    height: 16px;
}

.formButton {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: white;
    max-width: 450px;
    width: 100%;
    margin: auto;
    height: 56px;
    background-color: #009CB4;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;

}

.formLinkPass {
    margin: auto;
    color: #009CB4;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.formLinkMore{
display: flex;
align-items:center;
justify-content: center;
    width: 100%;
    height: 59px;
    border: 1px solid #EDEDF4;
    border-radius: 5px;
    font-weight: 500;
font-size: 14px;
line-height: 19px;
text-decoration-line: underline;
color: #4D4D4F;
margin-top: 20px;
}

.formText{
    padding-top: 40px;
    margin: auto;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #4D4D4F;
}