.headerContainer {
    display: flex;
    align-items: center;
}

.headerSlimContainer{
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.searchContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
    height: 48px;
    max-width: 270px;
    width: 100%;
    background: #F9F9FB;
    margin-left: 30px;
    margin-right: 310px;
}

.searchButton {
    margin-left: 10px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background: url(../../img/search.png);
    border: none;
}

.searchInput {
    background: #F9F9FB;
    border: none;
    outline: none;
}

.searchInput::placeholder {
    color: #C6C6C6;
}

.userContainer {
    display: flex;
    align-items: center;
}

.calendarImg {
    cursor: pointer;
}

.notification {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: url(../../img/bell.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50%;
    background-color: #F4F3F5;
    margin-left: 20px;
}

.notificationNum {
    color: #FFFFFF;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: #009CB4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.separator {
    height: 48px;
    border-left: 2px solid #F4F3F5;
    margin-left: 20px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.userPhoto {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: url(../../img/user-round.png) #F4F3F5;
    ;
    background-position: center;
    background-repeat: no-repeat;
}

.linkLogin{
    display: flex;
    align-items:center;
    color:#4D4D4F;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    margin-left: 10px;
}

.arrowDown{
    margin-left: 20px;
}
